<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Table</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1>This is Learning</h1>
      <div>
     <a class="btn btn-primary me-2"  href="/add-employee">Add New</a>
     <a class="btn btn-primary me-2"  href="/search">Search</a>
     <a class="btn btn-primary me-2"  href="/file-upload">File Uploads</a>

      </div>
    </div>