<%- include("./partials/header") %>
    <div class="container mt-5">
        <h1 class="mb-4">Upload a Single File</h1>
        <form action="/singleUpload" method="POST" enctype="multipart/form-data">
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="singleFile" name="singleFile">
                <label class="custom-file-label" for="singleFile">Choose file</label>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>

    <div class="container mt-5">
        <h1 class="mb-4">Upload Multiple Files</h1>
        <form action="/upload-multiple" method="POST" enctype="multipart/form-data">
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="multipleFiles" name="multipleFiles" multiple>
                <label class="custom-file-label" for="multipleFiles">Choose files</label>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
<%- include("./partials/footer") %>